
.menu{
    position: absolute;
    right: 20px;
    top: 20px;
    a{
        display: inline-block;
        color: lighten($title_colour, 40%);
        font-size: 1.2em;
        font-weight: 600;
        margin: 0 0 0 30px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $title_colour;
        }
    }
}
